.header-item{
    background-color: #1eb20d;
    height: 70px;
}
.hea-li{
    list-style-type: none;
}
.hea-a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding:  15px;
    display: flex;
    align-items: center;

}
.hea-image{
    margin-top: 0.8%;
    margin-left: 0%;

}
.hea-items-ul{
margin-left: 40%;
    width: 100%;
}
/*mobile: width:<740px*/
@media only screen and (max-width: 46.1875em){

}
@media only screen and (max-width: 56.25em) and (max-width: 63.9375em){
    .hea-a{
        flex-direction: column;
    }
}